<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>react</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script>
  </script>
<link href="/index-3f7fd536a7e989757f1d.css" rel="stylesheet"></head>
<body>
<div id="root">

</div>
<script type="text/javascript" src="/manifest.adcfa811e76582ba0af5.js"></script><script type="text/javascript" src="/vendor.7f32c5a80eb5b5dc28e2.js"></script><script type="text/javascript" src="/index.082cba34445d73befd17.js"></script></body>

</html>
