<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>react</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script>
  </script>
<link href="/index-b526bc63ff5b4d37ca49.css" rel="stylesheet"></head>
<body>
<div id="root">

</div>
<script type="text/javascript" src="/manifest.2a027da302fae0e3803d.js"></script><script type="text/javascript" src="/vendor.879c13f8c8def790b649.js"></script><script type="text/javascript" src="/index.363fbd92db63b49fe2f6.js"></script></body>

</html>
